.cover{
    max-width: 100%;
}

.joni2{
    background-size: cover;
    
}

/*.fonduco{
    background-image:url(../images/Jonicoco8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/